h1{
  position: sticky;
  top: 100px;
  z-index: 1;
  text-align: center;
  display: inline-block;  
  background-color:black;
  color: red; 
}

.img:hover{
  transform:scale(110%);
}

img:hover{
  transform:scale(110%);
  border: darkred 5px;
}
.col img{
  

  border: skyblue solid 1px;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}